# Emacs
*~
\#*\#
.\#*

# Virtual Environment
venv/


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Flask
instance/
.env
.flaskenv
*.db
*.sqlite
*.sqlite3

# PyCharm
.idea/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log